.img-100ppc{
    width: 100%;
}
.margin-top{
    margin-top: 40px;
}
.margin-bottom{
    margin-bottom: 40px;
}
.padding-bef-aft-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.margin-bef-aft-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.img-margin{
   margin: 10px; 
}
ul, li{
    line-height: 50px;
}

.white-text{
    color: white;
}
#testando-tipografia{
    margin-top: 50px;
}

/* ******* FOOTER ******* */
footer{
    padding-top: 100px;
    padding-bottom: 30px;
}